html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 1rem = 10px */
}

h1 {
  text-align: center;
}

nav a {
    text-decoration: none
    ;
}

h2 {
  text-align: center;
}

.menu {
display: grid;
} /* contiene los servicios que se brinda*/
.formulario {
    display: grid;
}
legend{
    text-align: center;
}
.img {

} 